<!DOCTYPE html>

<html>
    <head>
        <title>About Me</title>
        <link rel="icon" href="/img/icon.png"> 
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site uses both <a href="https:/mapbox.com">Mapbox</a> and <a href="https://weatherstack.com/">Weatherstack</a> APIs to get the weather for your location. <br>
            The location is first converted to Longitude and Latitude by mapbox and then the location is fetched from weatherstack. </p>
            <br> <br>
            <img class="portrait" src="/img/oldPic.jpg">
            <p>
                Contacts: <br>
                <a href="https://www.linkedin.com/in/mukassab/" class="separate">Linkedin.com</a>  <a href="https://github.com/MuKassab">Github.com</a>
            </p>
        </div>
        {{>footer}}
    </body>
</html>