<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/icon.png"> 
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <form>
                <input class="inputClass" placeholder="Enter location"> 
                <input type="image" id="currentLocationBtn" src="/img/gps2.png"/ style="width:32px;height:32px;vertical-align:top;"> <br>
                <button class="inputClass" id="searchBtn">Search</button>
            </form>      
            <p id='error'></p>
            <p id='forecast'></p>
        </div>
        {{>footer}}
        <script src="/js/main.js"></script>
    </body>
</html>