<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/icon.png"> 
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <form>
                <input placeholder="Enter location"> <br>
                <button>Search</button>
            </form>      

            <p id='error'></p>
            <p id='forecast'></p>
        </div>
        {{>footer}}
        <script src="/js/main.js"></script>
    </body>
</html>